table {
  width: 300px;
  table-layout: fixed;
  border-collapse: collapse;
  padding: 10px;

  .tr {
    // need to specify the length here otherwise, there is no height to inherit
    height: 1px;
    border-bottom: 1px solid;
    border: 1px solid black;
  }
  .td {
    width: 50%;
    text-align: center;
    height: inherit;
    border: 1px solid black;

    .button {
      // display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 10px;
      border: 1px solid black;
      background-color: lightgray;
      width: 100%;
      height: 100%;
      .text {
        color: blue;
      }
    }

    .input {
      padding: 2px;
      width: 90%;
    }
  }
}
